@font-face {
    font-family: 'Curlz MT';
    src: url('CurlzMT.woff2') format('woff2'),
        url('CurlzMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

