@import url("https://site-assets.fontawesome.com/releases/v6.7.2/css/all.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/fontawesome.css");
@import url("https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-duotone-thin.css");
@import url("https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-duotone-solid.css");
@import url("https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-duotone-regular.css");
@import url("https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-duotone-light.css");
@import url("https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-thin.css");
@import url("https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-solid.css");
@import url("https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-regular.css");
@import url("https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-light.css");
@import url("https://site-assets.fontawesome.com/releases/v6.7.2/css/duotone-thin.css");
@import url("https://site-assets.fontawesome.com/releases/v6.7.2/css/duotone-regular.css");
@import url("https://site-assets.fontawesome.com/releases/v6.7.2/css/duotone-light.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/whiteboard-semibold.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/jelly-duo-regular.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/jelly-regular.css");
@import url("https://site-assets.fontawesome.com/releases/v7.1.0/css/utility-semibold.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/slab-press-regular.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/slab-regular.css");
