@import url("https://site-assets.fontawesome.com/releases/v7.1.0/css/all.css?v=1");
@import url("https://site-assets.fontawesome.com/releases/v7.1.0/css/sharp-solid.css?v=1");
@import url("https://site-assets.fontawesome.com/releases/v7.1.0/css/sharp-regular.css?v=1");
@import url("https://site-assets.fontawesome.com/releases/v7.1.0/css/sharp-light.css?v=1");
@import url("https://site-assets.fontawesome.com/releases/v7.1.0/css/duotone.css?v=1");
