@font-face {
    font-family: 'Neuland';
    src: url('Neuland-Inline.woff2') format('woff2'),
        url('Neuland-Inline.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

