@font-face {
    font-family: 'Phantom Sans';
    src: url('TRIAL Phantom Sans 0.8 Medium.woff2') format('woff2'), url('TRIAL Phantom Sans 0.8 Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
