@font-face {
    font-family: 'Phantom Sans 0.7';
    src: url('PhantomSans07-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Phantom Sans 0.7';
    src: url('PhantomSans07-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

