/* https://cdn.jsdelivr.net/gh/Null-Austin/pb-assets@main/ShagLounge.css */
@font-face {
    font-family: 'Shag Lounge';
    src: url('./ShagLounge.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
