@font-face {
    font-family: 'Twemoji Mozilla';
    src: url('TwemojiMozilla.woff2') format('woff2'),
        url('TwemojiMozilla.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

